* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: 'Roboto', sans-serif;
    background: #202040;
  }
  
  #header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  nav {
    text-transform: uppercase;  
    flex: 0 0 auto;
    padding: 10px 0;
  }
  
  #banner {
    flex: 1 0 auto;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li a {
    display: block;
    color: #b030b0;
    background: transparent;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: color 1s ease, background 1s ease, padding 1s ease;
  }
  
  nav ul li a:hover {
    color: #f5f5f5;
    padding-left: 60px;
    background: #b030b0;
  }
  
  #nav-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
  }
  
  #nav-top h3 {
    font-size: 30px;
    padding: 5px;
    color: #b030b0;
    border: 3px solid;
    border-radius: 10px;
    transition: color 2s ease, background 2s ease;
  }
  
  #nav-top h3:hover {
    background: #b030b0;
    color: #f5f5f5;
  }
  
  #menu-btn {
    padding: 5px;
    border: 2px solid #b030b0;
    cursor: pointer;
    align-self: center;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    height: 5px;
    width: 35px;
    background-color: #b030b0;
    margin: 5px 0;
    transition: transform 1s ease;
  }
  
  .turn .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  
  .turn .bar2 {
    opacity: 0;
  }
  
  .turn .bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
  }

  
  @media screen and (min-width:690px) {
    nav {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      padding: 0 20px;
    }
    #menu-btn {
      display: none;
    }
    nav ul {
      flex: 1 1 auto;
      display: flex!important;
      /*    important*/
      flex-wrap: wrap;
    }
    nav ul li {
      flex: 1 0 125px;
    }
    nav ul .icon {
      flex: 0 0 20px;
    }

    nav ul a {
      text-align: center;
  
    }
    nav ul a:hover {
      padding: 10px!important;
    }
    #nav-top {
      padding: 10px;
    }
  }
  
  /*###############Banner################*/
  
  #banner {
    background: linear-gradient(rgba(32, 32, 96, 0.7), rgba(32, 32, 96, 0.7)),
    url(hack.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #banner-box {
    color: #f5f5f5;
    text-align: center;
  }
  
  #banner-title {
    text-transform: capitalize;
    font-size: 60px;
    animation: slideRight 5s ease-in-out 1;
  }
  
  .banner-underline {
    width: 200px;
    margin: 10px auto;
    border: 3px solid #b030b0;
  }
  
  .banner-subtitle {
    margin: 20px 0 40px 0;
    text-transform: capitalize;
    font-size: 25px;
    animation: slideLeft 5s ease-in-out 1;
  }

  .banner-btn, .banner-underline {
    animation: bttn 5s ease-in-out 1;
  }
  
  #banner-box a {
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    color: #f5f5f5;
    background: #b030b0;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #b030b0;
    transition: background 3s ease, border 0.5s ease;
  
  }
  
  #banner-box a:hover {
    background: transparent;
    border: 3px solid #f5f5f5;
  }
  
  /*title*/
  
  .title {
    margin: 10px 0 40px 0;
    cursor: pointer;
  }
  
  .title-text {
    font-size: 60px;
    text-transform: capitalize;
    color: #575757;
  }
  
  .title-underline {
    width: 50px;
    border: 3px solid #b030b0;
    transition: width 4s ease, border 4s ease;
  
  }
  
  .title:hover .title-underline {
    width: 200px;
    border: 3px solid red;
  }

  @keyframes bttn {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(1000px);
    }
    50% {
        transform: translateX(-200px);
    }
    75% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(200px);
    }
    75% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
}